{
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"arrowParens": "always",
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false
			}
		}
	]
}
